PORT=8080
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
APPS_SCRIPT_ADMIN_URL=https://script.google.com/macros/s/XXX/exec
APPS_SCRIPT_ADMIN_TOKEN=replace_with_strong_secret
DEFAULT_VALID_DAYS=30
DEFAULT_PLAN_ID=PRO
DEFAULT_MONTHLY_ROWS_LIMIT=
PRICE_CONFIG_JSON={"price_123":{"planId":"PRO","monthlyRowsLimit":null}}
ENABLE_EVENT_DEDUPE=true
EVENT_DEDUPE_TTL_SECONDS=86400
